$mobile-screen: 600px
$tablet: 767px
$small-screen: 1024px
$desktop: 1200px
$large-desktop: 1400px

$pixel-font: "Press Start 2P", system-ui,  Poppins, Verdana, Geneva, Tahoma, sans-serif
$main-background-color: #171717

h1
  font-family: $pixel-font

.main-wrapper
  width: 100%
  //border: 1px solid white
  display: flex
  justify-content: center

.main-container
  color: white
  width: 100%
  max-width: 1800px
  //border: 1px solid white

.intro-section
  //border: 1px solid white
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.my-name
  font-family: $pixel-font



.two-d-animations
  width: 100%
  display: grid
  grid-template-columns: repeat(3, minmax(0, 1fr))
  grid-column-gap: 0.75rem
  grid-row-gap: 0.75rem
  padding-left: 0.75rem
  padding-right: 0.75rem

.three-d-animations
  width: 100%
  display: grid
  grid-template-columns: repeat(3, minmax(0, 1fr))
  grid-column-gap: 0.75rem
  grid-row-gap: 0.75rem
  padding-left: 0.75rem
  padding-right: 0.75rem

.interactable-animations
  width: 100%
  display: grid
  grid-template-columns: repeat(3, minmax(0, 1fr))
  grid-column-gap: 0.75rem
  grid-row-gap: 0.75rem
  padding-left: 0.75rem
  padding-right: 0.75rem

.source-link
  text-decoration: none
  color: white
  background-color: #171717

  &:hover
    opacity: 0.5

.source-link-interactable
  text-decoration: none
  color: white
  background-color: #171717

  &:hover
    box-shadow: 0 0 5px mediumspringgreen

.animations-section
  display: flex
  flex-direction: column
  justify-content: center


.animation-row
  display: flex
  justify-content: center
  gap: 30px
  width: 100%

  @media (max-width: 767px)
    flex-direction: column


.animation-box-one, .animation-box-two
  border-radius: 5px
  width: 550px
  height: 400px

  @media (max-width: 767px)
    width: 100%
    //display: flex
    //justify-content: center


// -------------------------------
//animations and special effects
//--------------------------------

.header-text
  font-family: $pixel-font
  font-size: 2.5rem
  animation-name: movingTitle
  animation-duration: 2.5s
  animation-iteration-count: 1
  animation-timing-function: ease-out
  animation-delay: 0.2s
  animation-fill-mode: forwards
  opacity: 0

  @keyframes movingTitle
    0%
      margin-right: 180px
      opacity: 0

    100%
      margin-right: 0
      opacity: 1


@property --angle
  syntax: "<angle>"
  initial-value: 0deg
  inherits: false

.intro-wrapper
  //border: 1px solid white
  background-color: $main-background-color
  text-align: center
  padding: 20px
  border-radius: 10px
  position: relative

  &:after, &:before
    content: ''
    position: absolute
    border-radius: 10px
    //width: 100%
    //height: 100%
    //background-image: conic-gradient(#ff4545, #00ff99, #006aff, #ff0095, #ff4545)
    //background-image: conic-gradient(from var(--angle), transparent 70%, #ff4545, #00ff99, #006aff, #ff0095, #ff4545)
    top: -5px
    left: -5px
    right: -5px
    bottom: -5px
    z-index: -1
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545)
    animation-duration: 3s
    animation-name: gradient-spin
    animation-timing-function: linear
    animation-iteration-count: infinite

  &:before
    filter: blur(3.5rem)
    opacity: 0.3

  @keyframes gradient-spin
    from
      --angle: 0deg
    to
      --angle: 360deg


@media (max-width: $large-desktop)
  .two-d-animations
    grid-template-columns: repeat(2, minmax(0, 1fr))


@media (max-width: $tablet)
  .two-d-animations
    grid-template-columns: 1fr